@import 'antd/dist/antd.css';
#ice-container{
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
.hand{
  cursor: pointer;
}
.form-x.form-x{
  padding:0 24px 24px;
  background: #fff;
}
.form-x{
  text-align: center;
}
.ml5{
  margin-left: 5px;
}