@import 'antd/dist/antd.less';
#ice-container{
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
.hand{
  cursor: pointer;
}
.form-x.form-x{
  padding:0 24px 24px;
  background: #fff;
}
.form-x{
  text-align: center;
}
.ml5{
  margin-left: 5px;
}
.ml10{
  margin-left: 10px;
}
.main-card{
  height: 100%;
}
.c-title-x{
  cursor: pointer;
}
.c-title-x:hover{
  color: #1890ff;
}
.c-title{
  margin-left: 10px;
}